h1 { color: #d40b91;font-size: 6ch;} 
.banana{color:rgb(146, 73, 230);font-size: 4ch;}
body {background-color: rgb(211, 161, 221);
text-align: center;padding-bottom: 25ch;}
#casa {text-align: center;color:#affff8e7;font-size: 5ch;}
#marie {font-size: 5ch;color: #d40b91;}
.mid {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 2ch;color:#affff8e7 ;}
#list {color: aliceblue;}

